include AUTHORS.rst
include LICENSE
include README.rst
include CHANGELOG.rst
recursive-include banner/fixtures *
recursive-include banner/templates *
recursive-include banner/templatetags *
recursive-include banner/migrations *
