{% load jmbo_inclusion_tags jmbo_template_tags banner_tags %}

{% jmbocache 3600 'bannerproxy-list-item-inclusion' object.id object.modified request.get_full_path %}
    {% get_actual_banner for object as 'actual_banner' %}
    {% if actual_banner %}
        {% render_object actual_banner 'list_item' %}
    {% else %}
        {% if object.image %}
            <a href="{{ object.get_absolute_url }}" rel="nofollow"><img src="{{ object.get_imagebanner_list_item_url }}" alt="{{ object.title }}" alt="{{ object.title }}" /></a>
        {% endif %}
    {% endif %}
{% endjmbocache %}
