{% extends "jmbo/inclusion_tags/modelbase_detail.html" %}
{% load jmbo_inclusion_tags jmbo_template_tags banner_tags %}

{% block content %}
    {% get_actual_banner for object as 'actual_banner' %}
    {% if actual_banner %}
        {% render_object actual_banner "detail" %}
    {% else %}
        {% if object.image %}
            <a href="{{ object.get_absolute_url }}" rel="nofollow"><img src="{{ object.image_detail_url }}" alt="{{ object.title }}" alt="{{ object.title }}" /></a>
        {% endif %}
    {% endif %}
{% endblock %}
